body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Arial";
    min-height: 100vh;
    background-color: #d3d3d3;
}

.up-box-container {
    width: 100%;
    height: 300px;
    background-color: #00b2ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    padding-bottom: 100px;
    height: 120px;
    width: 120px;
}

.bottom-container {
    margin-top: -100px;
    width: 100%;
    flex-grow: 1;
    border-radius: 25px 25px 0 0;
    background-color: #d3d3d3;
    box-shadow: 0 -10px 100px 0 rgba(30, 30, 30, 0.5);

    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 40px;
}

.EGE-btn-container, .OGE-btn-container {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    border-radius: 15px;
    border: 3px solid;
    box-shadow: 0 5px 10px 0 rgba(25, 25, 25, 0.5);
    width: 150px;
    height: 160px;
    box-sizing: border-box;
}

.text-btn{
    margin-top: -50px;
}

.EGE-btn-container {
    background: linear-gradient(to bottom, #7b00ff 10px, white 10px);
    border-color: #7b00ff;
}

.OGE-btn-container {
    background: linear-gradient(to bottom, #ff7300 10px, white 10px);
    border-color: #ff7300;
}