body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Arial";
    min-height: 100vh;
    background-color: #d3d3d3;
}

.up-box-container {
    width: 100%;
    height: 300px;
    background-color: #00b2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}



.img {
    padding-bottom: 100px;
    height: 120px;
    width: 120px;
}

.back{
    font-size: 30px;
    color: #ffffff;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: transparent;
    margin-top: -250px;
    margin-left: -130px;
}

.bottom-container {
    margin-top: -100px;
    width: 100%;
    flex-grow: 1;
    border-radius: 25px 25px 0 0;
    background-color: #d3d3d3;
    box-shadow: 0 -10px 100px 0 rgba(30, 30, 30, 0.5);

    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    right: 50%;
}

.button-wrapper {
    display: flex;
    flex-direction: column; /* Цифры будут под кнопкой */
    align-items: center;
    width: 160px;           /* Ширина как у ваших кнопок */
}

.numbers-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Цифры в 2 колонки внутри */
    gap: 8px;

    /* Скрытое состояние */
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease;

    border-top: none;
    border-radius: 0 0 15px 15px;
    box-sizing: border-box;
}

#baz{
    background: white;
    border: 3px solid #ff7300;
}

#prof{
    background: white;
    border: 3px solid #7b00ff;
}

/* Когда кнопка нажата */
.button-wrapper.active .numbers-grid {
    max-height: 200px;
    opacity: 1;
    padding: 10px;
}

/* Прямоугольный низ у основной кнопки при нажатии */
.button-wrapper.active .prof,
.button-wrapper.active .baz {
    border-radius: 15px 15px 0 0;
    box-shadow: none;
}

.num-btn {
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.prof, .baz{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    border-radius: 15px;
    border: 3px solid;
    box-shadow: 0 5px 10px 0 rgba(25, 25, 25, 0.5);
    width: 160px;
    height: 50px;
    box-sizing: border-box;
}

.text-btn{
    margin-top: 10px;
}

.prof {
    background: linear-gradient(to bottom, #7b00ff 10px, white 10px);
    border-color: #7b00ff;
}

.baz{
    background: linear-gradient(to bottom, #ff7300 10px, white 10px);
    border-color: #ff7300;
}