body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Arial";
    min-height: 100vh;
    background-color: #d3d3d3;
}

.up-box-container {
    width: 100%;
    height: 300px;
    background-color: #00b2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.img {
    padding-bottom: 100px;
    height: 120px;
    width: 120px;
}

.back{
    font-size: 30px;
    color: #ffffff;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: transparent;
    margin-top: -250px;
    margin-left: -130px;
}

.bottom-container {
    margin-top: -100px;
    width: 100%;
    flex-grow: 1;
    border-radius: 25px 25px 0 0;
    background-color: #d3d3d3;
    box-shadow: 0 -10px 100px 0 rgba(30, 30, 30, 0.5);

    display: grid;
    grid-template-columns: repeat(2, 150px);
    justify-content: center;
    align-content: start;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.rus, .mat, .phis, .hist, .chem, .eng, .bio, .soc, .geo, .lit, .inf{
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    border-radius: 15px;
    border: 3px solid;
    box-shadow: 0 5px 10px 0 rgba(25, 25, 25, 0.5);
    width: 150px;
    height: 50px;
    box-sizing: border-box;
}

.text-btn{
    margin-top: 10px;
}

.mat, .phis, .chem, .bio, .geo, .inf{
    background: linear-gradient(to bottom, #7b00ff 10px, white 10px);
    border-color: #7b00ff;
}

.rus, .hist, .eng, .soc, .lit{
    background: linear-gradient(to bottom, #ff7300 10px, white 10px);
    border-color: #ff7300;
}

